<div class="container-products">

  <img src="../../../../assets/logo.png" width="170px" class="img-logo">


  <button class="btn btn-primary show-form" (click)="openModal()">Agregar Producto</button>

  <app-table
  [data]="products"
  [columns]="columns"
  (editItem)="onEditProduct($event)"
  (deleteItem)="onDeleteProduct($event)">
  </app-table>


</div>

<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">{{ selectedProduct?.id ? 'Editar Producto' : 'Agregar Producto' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"  *ngIf="selectedProduct">
        <app-form-product  [product]="selectedProduct" (productUpdated)="loadProducts()"></app-form-product>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>




