table {
  width: 100%;
  border-collapse: collapse;

}

th{
  border: none;
  padding: 10px;
}

thead{
  border: 1pz solid #000;
  font-weight: lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}
 td {
  padding: 10px;
  border: 1px solid #ccc;
}
