.sidebar {
  width: 240px;
  height: 100%;
  background-color: #34363A;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 5rem;
  text-align: center;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;

}

.sidebar-menu li {
  margin: 40px 40px;
}

.sidebar-menu li a {
  color: aliceblue;
  text-decoration: none;
  display: block;
}

.sidebar-menu li a:hover {
  color: rgb(203, 226, 113);
}

.active-link {
  font-weight: bold;
}
